/*
=======================
Base Color
=======================
*/
/*
=======================
Base Font
=======================
*/
body {
  font-family: "Roboto", "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  margin: 10px;
  font-weight: 900;
  font-size: 30px;
  font-family: "Roboto", "sans-serif"; }

h2 {
  margin: 10px;
  font-weight: 900;
  font-family: "Roboto", "sans-serif"; }

h3 {
  margin: 10px;
  font-weight: 900;
  font-family: "Roboto", "sans-serif"; }

p {
  margin: 10px;
  font-family: "Roboto", "sans-serif"; }

a {
  text-decoration: none;
  color: #0b0b0b; }

a:visited {
  text-decoration: none;
  color: #0b0b0b; }

/*
=======================
Contact Info Section
=======================
*/
.contact-info-container {
  width: 100%;
  margin-top: -5px; }

.contact-title {
  padding: 35px;
  background: #ECFF3C;
  text-align: center; }
  .contact-title h1 {
    margin: 0; }

.contact-info-box {
  width: 100%;
  padding: 5px 20px 30px 20px;
  box-sizing: border-box; }

.info-button {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  padding: 7px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  background: #0b0b0b;
  margin-top: 20px;
  padding-top: 10px; }
  .info-button:hover {
    cursor: pointer; }
  .info-button a {
    color: #ffffff; }
  .info-button i {
    margin-right: 20px; }

.sns-icon-box {
  margin-top: 70px;
  display: flex;
  justify-content: center; }
  .sns-icon-box .icon-bullet {
    margin: 0 auto;
    margin: 10px; }
    .sns-icon-box .icon-bullet i {
      margin-top: 5px; }

/*
=======================
Send Message Section
=======================
*/
.send-message-section {
  width: 100%;
  height: 200px;
  background: #ECFF3C; }

/*
=======================
Team Info Section
=======================
*/
.team-section {
  width: 100%;
  padding: 50px 0;
  text-align: center; }

.team-container {
  margin: 0 auto;
  text-align: center; }

.member-box {
  margin-top: 50px; }
  .member-box .member-img {
    width: 150px; }
  .member-box h2 {
    margin-bottom: 5px; }
  .member-box p {
    margin-top: 5px; }

/*
=======================
FAQ Section
=======================
*/
.faq-section {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background: #F8F8F8; }

.faq-container {
  width: 90%;
  margin: 0 auto; }

.header-container {
  width: 100%;
  overflow: hidden; }
  .header-container .header-img {
    width: 650px;
    margin-left: -60px; }
  .header-container .header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px; }

.open-btn, .send-btn {
  width: 100px;
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  padding: 7px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background: #0b0b0b; }
  .open-btn:hover, .send-btn:hover {
    cursor: pointer; }

.enabeld {
  animation: colorChange 2s infinite; }

@keyframes colorChange {
  0% {
    background-color: blue; }
  100% {
    background-color: black; } }
.refused {
  animation: wiggle 5s 1; }

@keyframes wiggle {
  0% {
    background-color: red; }
  100% {
    background-color: black; } }
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding-top: 150px;
  display: none; }

.icon-bullet {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #0b0b0b;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px; }
  .icon-bullet i {
    color: #ffffff; }

/*# sourceMappingURL=style.css.map */
