/*
=========================
BUTTONS
=========================
*/


// SNS icons
.icon-bullet {
  @include circle(25px, $black);
  i {
    color: $white;
  }
  margin-bottom: 10px;
}

// Button that links to FAQ section
.faq-btn {
  @include readyToSlide($accent-pink);
  &:hover {
    @include slideToTop(-100px, $accent-pink);
    cursor: pointer;
  }
}

// Button for contact now section
.contact-button {
  margin: 0 auto;
  margin-bottom: 30px;
  @include button-style(250px, auto, 4px, 18px, $white, $black);
  @include border-bottom($accent-green, 9px);
  @include readyToSlide($accent-green);
  i {
    margin-right: 20px;
  }
  &:hover{
    @include slideToTop(-100px, $accent-green);
  }
}

// Buttons on the form
.send-btn, .continue-btn {
  @include button-style(200px, 60px, 2px, 15px, $white, $mid-gray);
  @include border-bottom($gray, 5px);
  @include readyToSlide($black);
}

.slide-bg {
  @include slideToRight(200px, $black);
  color: $white;
  border-bottom-color: $black;
  &:hover {
    color: $white;
  }
}

.close-btn {
  background: transparent;
  border: none;
  color: $white;
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 90%;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

#confirmCloseBtn {
  color: $gray;
}


// Read more button from FAQ section
.read-more-btn {
  margin-top: 30px;
  @include button-style(170px, 50px, 4px, 15px, $gray, $white);
  @include border-bottom($mid-gray, 5px);
  @include readyToSlide($black);
  &:hover {
    @include slideToTop(170px, $black);
    border-bottom-color: $black;
  }
}

.show-more {
  display: block;
}

// Animation for a button to show error
@keyframes wiggle {
  from, to {
    transform: translateX(0);
  }

  10%, 40%, 70%, 100% {
    transform: translateX(-10px);
  }

  25%, 55%, 85% {
    transform: translateX(10px);
  }
}

.error {
  animation: wiggle 0.7s 1;
}

// Media Query for tablet and wider
@media screen and (min-width: 650px) {
  .contact-button {
    width: 45%;
  }
}
