.contact-button {
  margin: 0 auto;
  @include button-style(80%, 40px, 4px, 18px, $black, $white);
  margin-bottom: 30px;
  padding-top: 0px;
  a {
    color: $white;
  }
  i {
    margin-right: 20px;
  }
  &:hover{
    a {
      color: $black;
    }
  }
}

.send-btn, .continue-btn {
  @include button-style(120px, 40px, 2px, 15px, $gray, $mid-gray);
  &:hover {
    background: $gray;
    color: $mid-gray;
  }
  border: none;
  @include readyToSlide($red);
}

.slide-bg {
  @include slideToRight(120px, $red);
  color: $white;
  &:hover {
    color: $white;
  }
}

.read-more-btn {
  margin-top: 30px;
  @include button-style(170px, 40px, 4px, 15px, $black, $white);
}

.close-btn {
  background: transparent;
  border: none;
  color: $mid-gray;
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 90%;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

// Animation for a button to show error
@keyframes wiggle {
  from, to {
    transform: translateX(0);
  }

  10%, 40%, 70%, 100% {
    transform: translateX(-10px);
  }

  25%, 55%, 85% {
    transform: translateX(10px);
  }
}

.error {
  animation: wiggle 0.7s 1;
}
