.send-btn {
  @include button-style(100px, 40px, 2px, 15px, $gray, $mid-gray);
  &:hover {
    background: $gray;
    color: $mid-gray;
  }
}

.hidden-btn-bg {
  transform: scaleX(0);
  z-index: -1;
  color: $white;
  background: $red;
  transform-origin: 0 50%;
  transition: transform 0.5s ease;
}

.read-more-btn {
  margin-top: 30px;
  @include button-style(170px, 40px, 4px, 15px, $black, $white);
}

.close-btn {
  background: transparent;
  border: none;
  color: $black;
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 90%;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

// Animation that should be triggered when send-button is ready to be cliked
.enabeld {
  transform: scaleX(1);
}


// Animation for a button to show error
@keyframes wiggle {
  from, to {
    transform: translateX(0);
  }

  10%, 40%, 70%, 100% {
    transform: translateX(-10px);
  }

  25%, 55%, 85% {
    transform: translateX(10px);
  }
}

.error {
  animation: wiggle 0.7s 1;
}
