/*
=========================
MODAL - FORM STYLE
=========================
*/

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  transition: opacity 2s ease-in-out;
  display: none;
  opacity: 0;
}

// Toggle this class when opening and closing form-wrapper
.opacity {
  opacity: 1;
}

// Toggle this class when opening and closing form-wrapper
.display {
  display: block;
}

.form-container {
  position: absolute;
  background: $accent-green;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 80vh;
  text-align: center;
  padding: 70px 10px;
  overflow: scroll;
  transition: top 0.5s ease-in-out;
}

// Toggle this class when opening and closing form-container
.slide {
  top: 20%;
}

// Style for form tag
.form {
  margin: 0 auto;
  textarea {
    width: 80%;
    height: 100px;
    padding: 13px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    &:focus {
      background: $light-blue;
    }
  }
  input {
    width: 80%;
    padding: 13px 20px;
    font-size: 17px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    &:focus {
      background: $light-blue;
    }
  }
  .input-label {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.required-style {
  color: $accent-pink;
}

// Style for radio type input
.radio-form {
  input {
    margin: 0;
    margin-right: 10px;
    width: auto;
  }
  label {
    font-size: 18px;
    font-weight: bold;
  }
  margin-top: 10%;
  margin-bottom: 50px;
}

// Line break
hr {
  margin: 50px auto;
  width: 80%;
  border: 1px $white solid;
}

.input-value {
  text-transform: uppercase;
  color: $accent-pink;
}

#confirm-container {
  background: $white;
}

// Thank you message at the last stage of form
.confirm-message {
  margin: 0 auto;
  width: 70%;
  h1 {
    line-height: 45px;
    letter-spacing: 3px;
  }
  h2 {
    line-height: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $gray;
    text-transform: uppercase;
  }
}


// Media Query for tablet and wider
@media screen and (min-width: 650px) {
  .form {
    width: 60%;
  }
}

// Media Query for desktop and wider
@media screen and (min-width: 950px) {
  .input-wrapper {
    @include flexbox;
    width: 90%;
    margin: 0 auto;
  }
  .input-flex {
    @include flex(1);
  }

  hr {
    display: none;
  }

  .form {
    textarea {
      height: 200px;
    }
  }

  .radio-form {
    margin-top: 70px;
    margin-bottom: 70px;
    @include border-bottom($white, 2px);
    padding-bottom: 50px;
  }
}
