body {
  font-family: $secondary-font-family;
  color: $black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  font-size: 30px;
  // font-family: $primary-font-family;
  font-family: $secondary-font-family;
}

h2 {
  margin: 10px;
  font-weight: 900;
  // font-family: $primary-font-family;
  font-family: $secondary-font-family;
}

h3 {
  margin: 10px;
  font-weight: 900;
  // font-family: $primary-font-family;
  font-family: $secondary-font-family;
}


p {
  font-family: $secondary-font-family;
}

a {
  text-decoration: none;
  color: $black;
}

a:visited {
  text-decoration: none;
  color: $black;
}
