@mixin button-style($width, $height, $border-radius, $font-size, $bg-color, $font-color) {
  width: $width;
  height: $height;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  border-radius: $border-radius;
  border: 2px solid $bg-color;
  padding: 7px 15px;
  text-align: center;
  font-weight: bold;
  font-size: $font-size;
  color: $font-color;
  background: $bg-color;
  &:hover {
    cursor: pointer;
    // background: transparent;
    // color: $bg-color;
  }
  &:focus {
    outline: none;
  }
}

@mixin circle($size, $color) {
  width: $size;
  height: $size;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: $color;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid $color;
}

@mixin readyToSlide($color) {
  box-shadow: inset 0 0 0 0 $color;
  transition: all 0.7s ease;
}

@mixin slideToRight($size, $color) {
  box-shadow: inset $size 0 0 0 $color;
}

@mixin slideToTop($size, $color) {
  box-shadow: inset 0 $size 0 0  $color; 
}
