/*
=======================
Base Color
=======================
*/

//Gray Scale
$white: #ffffff;
$black: #0b0b0b;
$extra-light-gray: #eeedf2;
$light-gray: #F8F8F8;
$mid-gray: #232323;
$deep-gray: #1b1d21;
$shadow: #c4c2c2;
$editor-bg-gray: #1e2430;
$editor-bg-gray-shadow: #303a4c;
$dove: #d9d9d9;

$red: #F92116;
$yellow: #ECFF3C;
$vivid-pink: #fb0d57;
$orange: #f96d4d;
$vivid-orange: #fc4b23;
$blue: #0283ce;
$pink: #ff51a5;
$peach-pink: #fc8597;
$pastel-pink: #fcbfdb;
$shell: #d2ccff;
$golden-yellow: #f9b039;
$pastel-yellow: #fff4bf;

$pastel-red: #F7987C;
$pastel-green: #89F8EA;
$deep-pastel-green: #42f4ce;
$deeper-pastel-green: #38f7dd;
$bright-blue: #1BC9EA;
$light-blue: #A3F0FF;


/*
=======================
Base Font
=======================
*/

// Font Size
$base-font-size: 15px;
$bold-font-size: 17px;

// Main Font Style
$primary-font-family: "impact", "avenir", "sans-serif";
$secondary-font-family: "Roboto", "sans-serif";

// // Default Font Style
// $default-font-family: "Avenir", "Helvetica", "sans-serif";
