/*
=======================
Base Color
=======================
*/

//Gray Scale
$white: #ffffff;
$black: #1a1a1a;
$light-gray: #f3f3f3;
$mid-gray: #232323;
$deep-gray: #1b1d21;
$shadow: #c4c2c2;

// Brand Colors
$red: #F92116;
$yellow: #ECFF3C;
$accent-pink: #fb0d57;
$accent-green: #46f992;
$light-blue: #b6f8ff;


/*
=======================
Base Font
=======================
*/

// Main Font Style
$primary-font-family: "impact", "avenir", "sans-serif";
$secondary-font-family: "Roboto", "sans-serif";
