.header-container {
  width: auto;
  height: 360px;
  overflow: hidden;
  background: url("../img/fluent_city_header6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 140px;
  }
}

// Media Query for tablet size and wider
@media screen and (min-width: 650px) {
  .header-container {
    height: 550px;
  }
}
