/*
=======================
Contact Info Section
=======================
*/

.contact-info-container {
  width: 100%;
  // margin-top: -60px;
  margin-top: 30px;
  // background: $accent-green;
  background: $white;
}

.contact-title {
  text-align: left;
  margin: 0 auto;
  padding: 35px 55px 35px 35px;
  width: 65%;
  background: $accent-pink;
  h1 {
    font-size: 38px;
    margin: 0;
    padding-bottom: 20px;
  }
  .contact-subtitle {
    font-size: 15px;
    line-height: 22px;
    color: $black;
  }
}

.contact-info-box {
  margin: 0 auto;
  width: 90%;
  padding: 20px 20px 30px 20px;
  box-sizing: border-box;
}

.info-title {
  margin-top: 30px;
  // width: 60%;
  border-bottom: $accent-pink 2px solid;
}

.info-content {
  margin-bottom: 50px;
  p {
    margin-left: 10px;
  }
}

.sns-icon-box {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  .icon-bullet {
    margin: 0 auto;
    margin: 10px;
    i {
      margin-top: 2px;
    }
    &:hover {
      background: transparent;
      i {
        color: $black;
      }
    }
  }
}

/*
=======================
Send Message Section
=======================
*/

.contact-now-section {
  width: 100%;
  box-sizing: border-box;
  padding: 70px 50px;
  background: $light-blue;
}


/*
=======================
Team Info Section
=======================
*/

.team-section {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.team-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.member-box {
  margin-top: 50px;
  .member-img {
    width: 150px;
  }
  h2 {
    margin-bottom: 5px;
  }
  p {
    margin-top: 5px;
  }
}

/*
=======================
FAQ Section
=======================
*/

.faq-section {
  width: 100%;
  padding: 50px 20px 100px 20px;
  box-sizing: border-box;
  background: $light-gray;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
  }
}

.faq-right {
  display: none;
  // transition:
}

.hidden-faq {
  display: none;
}

.faq-q {
  margin-top: 40px;
  font-weight: bold;
}


// Media Query for tablet size and wider
@media screen and (min-width: 650px) {
  .contact-info-container {
    display: flex;
    box-sizing: border-box;
    .contact-title {
      width: 500px;
      height: 90%;
      background: $accent-pink;
      margin-top: -150px;
      margin-left: 100px;
      border-bottom: none;
      padding: 50px;
      flex: 1;
      text-align: right;
      box-sizing: border-box;
      h1 {
        font-size: 50px;
      }
      .contact-subtitle {
        // margin-top: 40px;
        margin-left: 70px;
        width: 90%;
        float: right;
      }
    }
    .contact-info-box {
      flex: 1;
      text-align: left;
      // background: $light-gray;
      padding-left: 20px;
    }
  }

  .sns-icon-box {
    padding-left: 40px;
    justify-content: left;
  }

  .team-section {
    padding-top: 70px;
  }

  .team-container {
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  .member-box {
    flex: 1;
    margin-right: 50px;
    margin-left: 30px;
    .member-img {
      width: 220px;
    }
  }
}

// Media Query for desktop size and wider
@media screen and (min-width: 950px) {
  .contact-info-container {
    .contact-title {
      margin-left: 150px;
    }

    .contact-subtitle {
      width: 70%;
    }

    .contact-info-box {
      margin-left: 100px;
      flex: 2;
    }
  }

  .info-title {
    width: 60%;
  }

  .faq-container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .hidden-faq {
    display: inline-block;
  }

  .faq-right {
    display: block;
    flex: 1;
    margin: 10px 40px 10px 40px;
  }

  .faq-left {
    flex: 1;
    margin: 20px;
    h1 {
      text-align: left;
    }
  }

  .read-more-btn {
    display: none;
  }
}
